# Compiled JavaScript files
lib/

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# secrets
aws-config.json
firebase-admin-sdk-cred.json
gcp.json
.env

firebase-debug.json
ui-debug.json